img{
    width: 300px;
    height: auto; /*Maintain aspect ratio*/
    border-radius: 10px; 
    box-shadow: 10px 10px 15px var(--brown);


}
.logo{
    margin-top:60px;
    width:100px;
    height:100px;
    box-shadow: none;
}